body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    background: #fff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form textarea,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #4cae4c;
}


.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilo para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo para las cabeceras de la tabla */
.table thead {
    background-color: #007bff;
    color: #fff;
}

.table thead th {
    padding: 10px;
    text-align: left;
}

/* Estilo para el cuerpo de la tabla */
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody td {
    padding: 10px;
}

/* Estilo para los botones */
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.btn-warning {
    background-color: #ffc107;
    margin-right: 5px;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

form {
    display: inline;
}

.alerta {

    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #bce8f1;
}

/* Estilo para barra de navegacion */
.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}
.navbar a:hover {
    text-decoration: underline;
}